{% extends "network/layout.html" %}
{% load static %}

{% block body %} 
<div class=" container ">
    {% if user.is_authenticated %}
      
            
            <div class="d-flex justify-content-center justify-content-lg-start"><p class="display-3 py-3 "id="section_label"> Allposts </p></div>

            <div id="form_div"  >
                <form id="write_post" action="{% url 'compose_post' %}" method="POST" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input id="submit" type="submit" class="btn btn-primary my-3   " value="Done"/>
                </form>
            </div>
         
            <div id="allposts" style="display: block; "> 
                {% for post in posts %}
                            
                    <div id="this" class="post_grid shadow p-3 mb-5 bg-body rounded slidedown ">
                        <a id="{{ post.user }}" href="{% url 'getuser' post.user %}" class="user " >{{post.user }}</a>
                        <div id="{{ post.created }}" class="timestamp">{{post.created}}</div>
                        <p id="content_{{ post.id }}" class="content " >{{post.body}}</p>
                        <textarea id="post_{{ post.id }}" style="display: none;" class="content form_div" ></textarea>
                        
                        <div class="likes_div">
                            {% with total_likes=post.users_like.count users_like=post.users_like.all %}                            
                                <a id="link_{{ post.id }}"  data-id="{{ post.id }}"
                                data-action="{% if request.user in users_like %}un{% endif %}like" 
                                class="like like_icon ">                            
                                {% if request.user not in users_like %}
                                    <i id="icon_{{ post.id }}" class="bi bi-star"></i>
                                {% else %}                                        
                                    <i id="icon_{{ post.id }}" class="bi bi-star-fill"></i>
                                {% endif %}                                        
                                </a>  
                                
                                <span class="total_{{ post.id }}">{{ total_likes }} </span>
                                   
                            {% endwith %}                                        
                        </div>
                        <a id="edit" href="#" data-postid="{{ post.id }}" data-action="edit" class="edit">
                            {% if post.user == request.user %}  
                                <h4>Edit Post</h4>                         
                            {% endif %}
                        </a> 
                    </div>   
                {% endfor %}
            </div>

            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}                        
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                        <li id="previous" class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %} 

                    {% for page in pages %}
                        {% if request.GET.page|add:"0" == page %}
                            <li id="page_{{ forloop.counter }}" class="page-item  active" data-page="{{ forloop.counter0 }}">
                                <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                            </li>                                      
                        {% else %}                        
                            <li id="page_{{ forloop.counter }}" class="page-item" data-page="{{ forloop.counter0 }}">
                                <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}                
                   
                    {% if posts.has_next %}
                        <li id="next" class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                        </li>
                    {% endif %}                    
                </ul >
            </na>
        </div>


    {% else %}
  
        <div class="d-flex justify-content-center justify-content-lg-start"><p class="display-3 py-3 "id="section_label"> Allposts </p></div>
        {% for post in posts %}
           
            <div id="posts" >                
                <div id="{{ post.id }}" class="post_grid shadow p-3 mb-5 bg-body rounded">
                    <a class="user section" id="{{ post.user }}" href="#" >{{post.user }}</a>
                    <div id="{{ post.created }}" class="timestamp">{{post.created}}</div>
                    <p class="content" id="{{ post.id }}">{{post.body}}</p>
                    <div class="likes_div">
                        {% with total_likes=post.users_like.count users_like=post.users_like.all %}                        
                            <a id="link_{{ post.id }}" href="{% url 'login' %}" data-id="{{ post.id }}"
                            data-action="like" 
                            class=" like_icon ">                            
                            {% if request.user not in users_like %}
                                <i id="icon_{{ post.id }}" class="bi bi-star"></i>
                            {% else %}                                        
                                <i id="icon_{{ post.id }}" class="bi bi-star-fill"></i>
                            {% endif %}                                        
                            </a>  
                            <span class="count">
                                <span class="total">{{ total_likes }} </span>
                                like{{ total_likes|pluralize }}                                
                            </span>   
                        {% endwith %}                                      
                    </div>
                </div>   
            </div>
        {% endfor %}

        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                {% if posts.has_previous %}                        
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li id="previous" class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %} 

                {% for page in pages %}
                    {% if request.GET.page|add:"0" == page %}
                        <li id="page_{{ forloop.counter }}" class="page-item  active" data-page="{{ forloop.counter0 }}"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                                        
                    {% else %}                    
                        <li id="page_{{ forloop.counter }}" class="page-item" data-page="{{ forloop.counter0 }}"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endfor %}  
                
                {% if posts.has_next %}
                    <li id="next" class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}                
            </ul >
        </na>
  
    {% endif %}   
</div>
{% endblock %}

