* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

#form_div {
  border-radius: 10px;  
  border: 1px solid #B2B2B2;
  margin: 1.5em 0;
  padding: 0.5em 1em ;
}



.post_grid {
  display: grid; 
  grid-template-columns: repeat(7, 10px);
  grid-template-rows: auto;
  margin:50px 0;
  gap: 5px 5px;
  grid-template: 
  " timestamp timestamp timestamp timestamp timestamp timestamp timestamp"  
  " user user user user user user user "  
  " body body body body body body body "
  " likes_icon likes_number . . . . . "
  " edit edit edit edit edit edit edit";
  animation: slidedown 5s linear 2s 1 forwards forwards;
  animation-play-state: paused;
}

@keyframes slidedown {
  0% {
    
      height: 100%;
      line-height: 100%;
      padding: 20px;
      margin-bottom: 10px;
  }
  75% {
    
      height: 100%;
      line-height: 100%;
      padding: 20px;
      margin-bottom: 10px;
  }
  100% {
     
      height: 0px;
      line-height: 0px;
      padding: 0px;
      margin-bottom: 0px;
  }
}



.user{
  grid-area: user;   
  color: blue;
  display: block;
  flex-flow: row;
  justify-content: space-between;
  align-items: center; 
}


.timestamp {
  grid-area: timestamp;   

      
}


.content {
  grid-area: body; 
  background-color:yellow;
 
      
}

.edit{
  grid-area: edit;
}


.likes_number {
  grid-area: likes_number; 
  font-size: 20px;
 
}


.like_icon {
  grid-area: likes_icon; 
  font-size: 20px;
  color: blue;
 
}





#allposts,
#profile,
#following {
  display: none;
}

#follow, #unfollow, #edit {
  text-decoration: none;
}

.user, .timestamp, .content, .likes_link, .likes_icon, .edit{
  padding: 5px;
}